.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  grid-gap: 15px;
  grid-template-areas: "side main main main main main main"
                       "side cat1 cat1 cat2 cat2 cat3 cat3"
                       "side about about about blog blog blog";
  grid-auto-rows: minmax(min-content, min-content);
}

.full-grid {
  width: 100%;
  object-fit: contain;
}
.main { grid-area: main;
  grid-row: auto;}

.cat1 { grid-area: cat1; }

.cat2 { grid-area: cat2; }

.cat3 { grid-area: cat3; }

.about { grid-area: about; }

.blog { grid-area: blog; }

.side { grid-area: side;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;}

img {
  width: 100%;
  /* height: 100vh; */
  object-fit: cover;
}

#category, #menu{
  font-size: 1vw;
}

#logo {
  width: 100%;
}
